<!DOCTYPE html>

<html lang="hu">
    <head>
        {% if app.environment != 'production' %}<meta name="robots" content="noindex,nofollow">{% endif %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ pageTitle ? pageTitle : metaTitle }}</title>

        <meta property="fb:admins" content="1819502454" />
        <meta property="fb:appId" content="{{ config_get('settings.facebookAppId') }}" />
		<meta property="og:type" content="website" />

        <meta name="description" content="{{ teaser ? teaser : 'A teljes Szentírás, azaz a Biblia magyarul az interneten: katolikus és protestáns fordításban' }}">
        <meta name="keywords" content="biblia, katolikus, protestáns, szentírás, keresztény, keresztyén, református, hivatalos">
        <meta name="author" content="szentiras.hu">
        <meta http-equiv="cleartype" content="on">

        {% block meta %}{% endblock %}
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="{{ elixir('css/all.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:r,i,b,bi&subset=latin-ext" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block extraHead %}{% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VRKF03LHHG"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-VRKF03LHHG');
		</script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&appId=679257202109581&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="container">
            {% include 'navbar' %}
            <div class="row">
                <div class="col-md-3 col-sm-4">
                     {% include 'menu' %}
                </div>
                <div class="col-md-9 col-sm-8">
                    {% block pageHeader %}{% endblock %}
                    <div>
                        <main>
                        {% block content %}{% endblock %}
                        </main>
                        <br />
                        {% block abbrevlist %}{% endblock %}
                    </div>
                    <div>
                        {% block comments %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <footer>
        <div class="footer">
            <p><br>Kérdések, ötletek, problémák: <a href='mailto:eleklaszlosj@gmail.com'>Elek László SJ</a> (<a
                        href="http://jezsuita.hu">JTMR</a>)<br>
            Fejlesztés: <a href="https://github.com/szentjozsefhackathon/szentiras.hu">GitHub</a>
                {% if config_get('version.hash') %}- <small>verzió:
                    <a href="https://github.com/szentjozsefhackathon/szentiras.hu/commit/{{ config_get('version.hash') }}">
                    {{ config_get('version.hash')[0:7] }}</a></small>{% endif %}<br>
            Programozók: <a href="https://github.com/briff">Fodor Bertalan</a>, <a href="https://github.com/borazslo">Elek László SJ</a>, <a href="https://github.com/molnarm">Molnár Márton</a></p>
        </div>
        </footer>
        <script
                src="https://code.jquery.com/jquery-1.12.4.min.js"
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
                integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{{ elixir('js/all.js') }}"></script>
               <script>
$(function() {
              $('ul a.nav-link').on('click', function(e) {
              /* nem aktavakat beállítani */
              $(this).parent().parent().parent().find('span.header-colon').removeClass('active').addClass('hidden-xs hidden-sm');
              $(this).parent().parent().parent().find('span.header-bookname').removeClass('active visible-md-inline visible-lg-inline').addClass('inactive');
              $(this).parent().parent().parent().find('span.header-bookabbrev').removeClass('active visible-xs-inline visible-sm-inline').addClass('inactive visible-md-inline visible-lg-inline');
              $(this).parent().parent().parent().find('span.header-ref').removeClass('active').addClass('hidden-xs hidden-sm');
              
              $(this).find('span.header-colon').addClass('active').removeClass('hidden-xs hidden-sm');
              $(this).find('span.header-bookname').addClass('active visible-md-inline visible-lg-inline').removeClass('inactive');
              $(this).find('span.header-bookabbrev').addClass('active visible-xs-inline visible-sm-inline').removeClass('inactive visible-md-inline visible-lg-inline');
              $(this).find('span.header-ref').addClass('active').removeClass('hidden-xs hidden-sm');              
            });

            $('.style-btn').on('click', function(e) {
                $(this).parent().find('.style-btn').removeClass('btn-primary');        
                $(this).addClass('btn-primary');                
                
            });
});
        </script>
    </body>
</html>
