<div class="panel panel-success hidden-xs">
    <div class="panel-heading  center-block">
        <h3 class="panel-title text-center">{% block title %}{% endblock %}</h3>
    </div>
    <div class="panel-body">
        <a {{ link|raw }} data-ad="{{ adId }}">
            <h5 class="text-center">
                {% block subtitle %}{% endblock %}
            </h5>
        </a>

        {% if adImage %}
        <p class="text-center">
            <a {{ link|raw }} data-ad="{{ adId }}">
                <img src="/img/{{ adImage }}" class="img-responsive" style="margin: auto;">
            </a>
        </p>
        {% endif %}

        {% block text %}
        {% endblock %}
    </div>
</div>