{% extends 'layout' %}

{% set pageTitle %}
Keresés{% if form.textToSearch is defined %}: {{ form.textToSearch }}{% endif %} | Szentírás
{% endset %}

{% block content %}
    <h2>Keresés a Bibliában</h2>
    <div class="card mb-2">
        <div class="card-body">
            <form role="form" class="form-horizontal" method="post"
                  action="{{ action('Search\\SearchController@anySearch') }}">
                <div class="mb-2">
                    <label for="textToSearch" class="col-sm-3 control-label">Keresendő</label>
                    <div class="col-sm-9">
                        <input type="text" name="textToSearch" id="textToSearch" value="{{ form.textToSearch }}" class="form-control"/>
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col">
                        <label for="book" class="form-label">Könyv</label>                        
                        <select name="book" class="form-control" id="book">
                            <option value="all" {{ 'all' == form.book ? 'selected' }}>mind</option>
                            <option value="old_testament" {{ 'old_testament' == form.book ? 'selected' }}>Ószövetség</option>
                            <option value="new_testament" {{ 'new_testament' == form.book ? 'selected' }}>Újszövetség</option>
                            {% for book in books %}
                                <option value="{{ book.number }}" {{ book.number == form.book ? 'selected' }}>{{ book.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="translation" class="form-label">Fordítás</label>
                        <select name="translation" class="form-control" id="translation">
                            <option value="0" {{ form.translation is not defined ? 'selected' }}>mind</option>
                            {% for translation in translations %}
                                <option value="{{ translation.id }}" {{ translation.id == form.translation.id ? 'selected' }}>{{ translation.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="grouping" class="form-label">Csoportosítás</label>
                        <select name="grouping" class="form-control" id="grouping">
                            <option value="verse" {{ form.grouping == 'verse' ? 'selected' }}>versenként</option>
                            <option value="chapter" {{ form.grouping == 'chapter' ? 'selected' }}>fejezetenként</option>                            
                            <option value="book" {{ form.grouping == 'book' ? 'selected' }}>könyvenként</option>
                        </select>
                    </div>
                </div>
                {{ csrf_field() }}                
                <input type="submit" value="Keresés" class="btn btn-primary"/>
            </form>
        </div>
    </div>

    {% if bookRef is not defined and fullTextResults is not defined and form.textToSearch != '' %} 
        <h4>A keresés sajnos nem hozott találatot.</h4>
    {% endif %}
                        
    {% if bookRef is defined %}
        <h4>Igehely</h4>
        {% for verseContainer in bookRef.verseContainers %}
            <blockquote>
                <footer>
                    <a href="{{ bookRef.link }}">{{ bookRef.label }}</a>
                </footer>
                {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  translation } %}
            </blockquote>
        {% endfor %}
    {% endif %}

    <div class="mb-2">
    {% for translationHit in translationHits %}
        <form class="translationHitForm" action="/kereses/search?textToSearch={{ form.textToSearch }}&translation={{ translationHit.translation.id }}&book={{ form.book }}&grouping={{ form.grouping }}" method="post">
            {{ csrf_field() }}
        <a 
           role="button" class="btn btn-info btn-sm translationHit">{{ translationHit.translation.abbrev }} <sup>{% if translationHit.hitCount > 999 %}&gt;{% endif %}{{ translationHit.hitCount }}</sup>
        </a>
        </form>
    {% endfor %}
    </div>
        
   
    {% if fullTextResults.resultsByBookNumber is defined or  fullTextResults is defined %}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a role="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#newstyle">Fordítások egymás mellett</a></li>
            <li role="presentation" class="nav-item"><a role="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#oldstyle">Fordítások egymás alatt</a></li>
        </ul>
    <div class="tab-content ">                   
    <div role="tabpanel" class="tab-pane active" id="newstyle">
    
    {% if fullTextResults.resultsByBookNumber is defined %}
        {% set results =  fullTextResults.resultsByBookNumber %}
       
        {% for key, chapters in results %}                        
            <div class="searchResult">
                {% for abbrev,group in chapters.translations %}
                        <a data-target="#g{{ key }}_{{ group.trans.abbrev }}" class="searchResultTranslationSelector btn btn-outline-secondary btn-sm {% if loop.first %}active{% endif %}">
                            <i class="fas fa-book"></i>{% if form.translation is not defined or form.translation.id < 1 %}
                            <span title="{{ group.trans.name }}">{{ group.trans.abbrev }}</span>
                        {% endif %}                        
                            <span class="header-bookabbrev {{ loop.first ? 'active d-sm-inline' : 'inactive d-md-inline'}}" title="{{ group.book.name }}">{{ group.book.abbrev }}</span>
                            <span class="header-ref {{ loop.first ? 'active' : 'd-sm-none'}}">
                                {% if form.grouping == 'verse' or  form.grouping == 'chapter' %}{{ group.verses[0].chapter }}{% endif %}
                                {% if form.grouping == 'verse' %},{{ group.verses[0].numv }}{% endif %}
                            </span>                                                                                                      
                        </a>
                {% endfor %}
                <div>                   
                {% for abbrev,group in chapters.translations %}
                        <div class="searchResultTranslationText searchResultVerse {% if loop.first %}active{% endif %}" id="g{{ key }}_{{ group.trans.abbrev }}">
                            <a href="/{{ group.trans.abbrev}}/{{ group.book.abbrev }}{% if form.grouping == 'verse' or  form.grouping == 'chapter' %}{{ group.verses[0].chapter }}{% endif %}{% if form.grouping == 'verse' %},{{ group.verses[0].numv }}{% endif %}"><i class="fas fa-circle-chevron-right"></i></a>
                        {% for verse in group.verses %}
                            {% if verse.chapterStart %}{% if form.grouping == 'book' %}{{ loop.first ? "" : "<br>" }}<strong>
                                <a href="/{{ group.trans.abbrev }}/{{ group.book.abbrev }}{{ verse.chapter }}">{{ verse.chapter }}</a></strong> {% endif %}{% endif %}
                            {% if verse.ellipseBefore %} [...] {% endif %}{% if form.grouping == 'book' or  form.grouping == 'chapter' %}<sup>
                                <a href="/{{ group.trans.abbrev}}/{{ group.book.abbrev }} {{ verse.chapter }},{{ verse.numv }}">{{ verse.numv }}</a></sup>{% endif %}{{ verse.text|raw }}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>                                    
        {% endfor %}
    {% endif %}
    
        </div>                   
        <div role="tabpanel" class="tab-pane" id="oldstyle">
        
    {% if fullTextResults is defined %}
        <h4>Találatok a szövegben <span class="badge">{{ fullTextResults.hitCount }} találat</span></h4>
        {% for result in fullTextResults.results %}
            <h5><a href="/{{ result.translation.abbrev }}/{{ result.book.abbrev }}"><i class="fas fa-book"></i> {{ result.book.name }}
                    ({{ result.translation.name }})</a></h5>
            <div>
                {% if form.grouping == 'verse' %}
                    {% for verse in result.verses %}
                        <div class="searchResultVerse">
                            <a href="/{{ result.translation.abbrev }}/{{ result.book.abbrev }} {{ verse.chapter }},{{ verse.numv }}">
                                {{ verse.chapter }},{{ verse.numv }}</a>
                            {{ verse.text|raw }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% for chapter, verses in result.chapters %}
                        <div class="searchResultVerse">
                            <a href="/{{ result.translation.abbrev }}/{{ result.book.abbrev }} {{ chapter }}">{{ chapter }}</a>
                            {% for verse in verses %}
                                {% if verse.ellipseBefore %} [...] {% endif %}<sup>{{ verse.numv }}</sup>{{ verse.text|raw }}
                            {% endfor %}
                            </div>
                    {% endfor %}
                {% endif %}
                        </div>
        {% endfor %}
    {% endif %}
        
        </div></div>
    {% endif %}    
        
    {% if form.textToSearch == ''  %}
        {% include 'search/searchInfo' %}
    {% endif %}

{% endblock %}