{% extends 'layout' %}

{% set pageTitle %}
Keresés jelentés szerint mesterséges intelligencia segítségével | Szentírás
{% endset %}

{% block content %}
    <h3>Keresés jelentés szerint, AI segítségével</h2>
    <div class="card mb-2">
        <div class="card-body">
            <form role="form" class="form-horizontal" method="get"
                  action="{{ action('Search\\SemanticSearchController@anySearch') }}">
                <div class="form-group">
                    <label for="textToSearch" class="col-sm-3 control-label">Keresendő</label>
                    <div class="col-sm-9">
                        <input type="text" name="textToSearch" id="textToSearch" value="{{ form.textToSearch }}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bookNumber" class="col-sm-3 control-label">Könyv</label>
                    <div class="col-sm-9">
                        <select name="bookNumber" class="form-control" id="bookNumber">
                            <option value="all" {{ 'all' == form.bookNumber ? 'selected' }}>mind</option>
                            <option value="old_testament" {{ 'old_testament' == form.bookNumber ? 'selected' }}>Ószövetség</option>
                            <option value="new_testament" {{ 'new_testament' == form.bookNumber ? 'selected' }}>Újszövetség</option>
                            {% for book in books %}
                                <option value="{{ book.number }}" {{ book.number == form.bookNumber ? 'selected' }}>{{ book.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="translationAbbrev" class="col-sm-3 control-label">Fordítás</label>
                    <div class="col-sm-9">
                        <select name="translationAbbrev" class="form-control" id="translationAbbrev">
                            <option value="0" {{ form.translationAbbrev is not defined ? 'selected' }}>mind</option>
                            {% for translation in translations %}
                                <option value="{{ translation.abbrev }}" {{ translation.abbrev == form.translationAbbrev ? 'selected' }}>{{ translation.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="submit" value="Keresés" class="btn btn-default"/>
            </form>
        </div>
    </div>                     

    {% if response is defined %}
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#versek">Versek</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#szakaszok">Szakaszok</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#fejezetek">Fejezetek</a></li>
        </ul>

        {% macro quality(result) %}
            <div class="quality" title="Becsült hasonlóság">
                {% for i in 1..5 %}
                    {% if i <= result.quality %}
                        <span class="star active">&#9733;</span>
                    {% else %}
                        <span class="star inactive">&#9734;</span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endmacro %}

        <div class="tab-content mt-2">
            <div role="tabpanel" class="tab-pane active" id="versek">
                {% for result in response.results %}        
                    {% for verseContainer in result.verseContainers %}
                    <blockquote class="blockquote">
                        <footer class="blockquote-footer">
                            <a href="/{{ result.embeddedExcerpt.translation.abbrev }}/{{ result.embeddedExcerpt.reference }}">{{ result.embeddedExcerpt.reference }}</a>
                            {{ _self.quality(result) }}
                        </footer>
                        <div class="parsedVerses">
                            {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  result.embeddedExcerpt.translation, 'highlightedGepis' : result.highlightedGepis} %}
                        </div>
                    </blockquote>
                    {% endfor %}
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="szakaszok">
                {% for result in rangeResponse.results %}        
                    {% for verseContainer in result.verseContainers %}
                        <blockquote class="blockquote">
                            <footer class="blockquote-footer">
                                <a href="/{{ result.embeddedExcerpt.translation.abbrev }}/{{ result.embeddedExcerpt.reference }}">{{ result.embeddedExcerpt.reference }}</a>
                            {{ _self.quality(result) }}
                        </footer>
                        <div class="parsedVerses">                    
                            {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  result.embeddedExcerpt.translation, 'highlightedGepis' : result.highlightedGepis } %}
                        <div class="parsedVerses">
                    </blockquote>
                    {% endfor %}
                {% endfor %}
            </div>

            <div role="tabpanel" class="tab-pane" id="fejezetek">
                {% for result in chapterResponse.results %}        
                    {% for verseContainer in result.verseContainers %}
                        <blockquote class="blockquote">
                            <footer class="blockquote-footer">
                            <a href="/{{ result.embeddedExcerpt.translation.abbrev }}/{{ result.embeddedExcerpt.reference }}">{{ result.embeddedExcerpt.reference }}</a>
                            {{ _self.quality(result) }}                        
                        </footer>
                        <div class="parsedVerses">                    
                            {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  result.embeddedExcerpt.translation, 'highlightedGepis' : result.highlightedGepis } %}
                        <div class="parsedVerses">
                    </blockquote>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% endif %}

{% endblock %}

{% block script %}
{%  endblock %}