{% extends 'layout' %}

{% set pageTitle %}
Keresés jelentés szerint mesterséges intelligencia segítségével | Szentírás
{% endset %}

{% block content %}
    <h3>Keresés jelentés szerint, AI segítségével</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" class="form-horizontal" method="get"
                  action="{{ action('Search\\SemanticSearchController@anySearch') }}">
                <div class="form-group">
                    <label for="textToSearch" class="col-sm-3 control-label">Keresendő</label>
                    <div class="col-sm-9">
                        <input type="text" name="textToSearch" id="textToSearch" value="{{ form.textToSearch }}" class="form-control"/>
                    </div>
                </div>
                <input type="submit" value="Keresés" class="btn btn-default"/>
            </form>
        </div>
    </div>                     

    <div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a role="tab" data-toggle="tab" href="#versek">Versek</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#szakaszok">Szakaszok</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#fejezetek">Fejezetek</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="versek">
            {% for result in response.results %}        
                {% for verseContainer in result.verseContainers %}
                <blockquote>
                    <footer>
                        <a href="/{{ result.embeddedExcerpt.translation.abbrev }}/{{ result.embeddedExcerpt.reference }}">{{ result.embeddedExcerpt.reference }}</a>
                    </footer>
                    <div class="parsedVerses">
                        {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  result.embeddedExcerpt.translation, 'highlightedGepis' : result.highlightedGepis} %}
                    </div>
                </blockquote>
                {% endfor %}
            {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane" id="szakaszok">
            {% for result in rangeResponse.results %}        
                {% for verseContainer in result.verseContainers %}
                <blockquote>
                    <footer>
                        <a href="/{{ result.embeddedExcerpt.translation.abbrev }}/{{ result.embeddedExcerpt.reference }}">{{ result.embeddedExcerpt.reference }}</a>
                    </footer>
                    <div class="parsedVerses">                    
                        {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  result.embeddedExcerpt.translation, 'highlightedGepis' : result.highlightedGepis } %}
                    <div class="parsedVerses">
                </blockquote>
                {% endfor %}
            {% endfor %}
        </div>

        <div role="tabpanel" class="tab-pane" id="fejezetek">
            {% for result in chapterResponse.results %}        
                {% for verseContainer in result.verseContainers %}
                <blockquote>
                    <footer>
                        <a href="/{{ result.embeddedExcerpt.translation.abbrev }}/{{ result.embeddedExcerpt.reference }}">{{ result.embeddedExcerpt.reference }}</a>
                    </footer>
                    <div class="parsedVerses">                    
                        {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  result.embeddedExcerpt.translation, 'highlightedGepis' : result.highlightedGepis } %}
                    <div class="parsedVerses">
                </blockquote>
                {% endfor %}
            {% endfor %}
        </div>

    </div>
    </div>

{% endblock %}

{% block script %}
    $('#myTabs a').click(function (e) {
        //e.preventDefault()
        //$(this).tab('show')
      })      
{%  endblock %}