{% extends 'layout' %}

{% block content %}
    <h2>Fejlesztőknek</h2>

    <p>A honlap forráskódja elérhető a <a href="https://github.com/borazslo/szentiras.hu">github.com/borazslo/szentiras.hu</a>
        honlapon.
        A bekapcsolódni vágyó fejlesztők itt találnak segítséget: <a
                href="https://github.com/borazslo/szentiras.hu/wiki/Fejlesztői-tudnivalók">github.com/borazslo/szentiras.hu/wiki/Fejlesztői-tudnivalók</a>
    </p>
    <h4>Widgetek, pluginek, stb.</h4>
    <p>Elkészült egy <a href="http://molnarm.github.io/igemutato/">igemutató kiegészítő</a> ami a bibliai hivatkozásokat automatikusan átalakítja, hogy felugró ablkaban lehessen olvasni a teljes szöveget.</p>
    <p> A script beilleszthető bármilyen honlapba vagy telepíthető <a
                href="https://chrome.google.com/webstore/detail/szent%C3%ADr%C3%A1s/mooikajlieddnjlmlbodldompfifkoim">Google
            Chrome</a> és <a href=" https://addons.mozilla.org/hu/firefox/addon/szent%C3%ADr%C3%A1s/">Mozilla
            Firefox</a> böngészőkben. További információ: <a href="http://molnarm.github.io/igemutato/">molnarm.github.io/igemutato</a>
    </p>
    <p>Ha további widget/plugin ötlete vagy igénye van szívesen segítünk a kifejlesztésében.
        Létező munkáját kérjük ossza meg velünk, hogy másoknak is hasznára lehessen.</p>

    <h3>API</h3>
    <p><strong>Kérünk minden API fejlesztőt/használót, hogy egy emailben jelentkezzen, hogy értesíteni tudjuk az
            esetleges API fejlesztésekről!</strong></p>
    <p>Minden API hívás JSON formátumú válasszal tér vissza.</p>
    <h4>idezet</h4>
    Megadott szentírási hely(ek) megjelenítése alapértelmezett vagy megadott fordításban.
    {% set exampleUrl = url('api/idezet/1Kor13,10-13') %}
    <p>Példa: <a href="{{ exampleUrl }}">{{ exampleUrl }}</a></p>
    <h5>Paraméterek:</h5>
    <dl>
        <dt>Hivatkozás*</dt>
        <dd>A szentírási hely hivatkozása, lényegében bármilyen elfogadott formátumban, bármely fordítás szerint, pl. <code>1Kor13,10-13</code></dd>
        <dt>Fordítás</dt>
        <dd>A fordítás rövidítése. Ha nincs megadva, az alapértelmezett fordítás alapján ad vissza találatot.</dd>
    </dl>
    <h4>forditasok</h4>
    Egyetlen szentírási vers megjelenítése az összes elérhető fordításban<br>
    Példa:
    {% set exampleUrl = 'api/forditasok/10100100100' %}
    <a href="{{ exampleUrl }}">{{ url(exampleUrl) }}</a></p>

    <em>hivatkozas</em> (kötelező): pl. <i>10100100200</i> (Jelenleg csak az úgynevezett <i>gépi kód</i>dal lehet
    verset keresni.
    Ez 11 számjegyből áll: 1. Ószöv/Újszöv, 2-3. könyv, 4-6. fejezet, 7-9. vers, 10-11. alvers.)<br>

    <h4>books</h4>
    Adott fordítás könyveinek listája.
    Példák: <ul>
        <li><a href='/api/books'>{{ url('/api/books')}}</a></li>
        <li><a href='/api/books/KG'>{{ url('/api/books/KG')}}</a></li></li>
    </ul>

    <h4>ref</h4>
    Megadott hivatkozás teljes szövege.
    Példák:
    {% set example = '1Kor 2,2-3.4;Jn 1,1-2' %}
    <ul>
        <li><a href='/api/ref/{{ example }}'>{{ url('/api/ref/' ~ example )}}</a></li>
        <li><a href='/api/ref/{{ example }}/KG'>{{ url('/api/ref/' ~ example ~ '/KG')}}</a></li>
        <li><a href='/api/ref/{{ example }}/*'>{{ url('/api/ref/' ~ example ~ '/*')}}</a> - Minden fordításból</li>
    </ul>

    <h4>search</h4>
    <p>Szó vagy szórészlet keresése, pl.
    {% set example = 'bocsát' %}
    <a href="/api/search/{{ example }}">{{ url('/api/ref/' ~ example) }}</a>
        </p>

{% endblock %}
