<ol class="breadcrumb">
    {% if translation is defined %}
        <li><a href="/{{ translation.abbrev }}">{{ translation.name }}</a></li>
        {% if book is defined %}
            <li><a href="/{{ translation.abbrev }}/{{ book.abbrev }}">{{ book.name }}</a></li>
            {% if chapter is defined %}
                <li><a href="/{{ translation.abbrev }}/{{ book.abbrev }}{{ chapter }}">{{ chapter }}. fejezet</a></li>
            {% endif %}
        {% endif %}
    {% endif %}
</ol>