{% extends 'layout' %}

{% set pageTitle %}
{{ translation.name }} | Szentírás
{% endset %}

{% macro bookLink(translation, book) %}
    <li><a href="/{{ translation.abbrev }}/{{ book.abbrev }}" class="link">{{ book.name }}</a></li>
{% endmacro %}

{% import _self as temp %}

{% block content %}
    {% include 'textDisplay.breadcrumb' %}
    {% include 'bookAbbrevList' with { 'translation' : translation } %}
    
    {% for book in books if book.old_testament %}
        {% if loop.first %}
            <h4>Ószövetség</h4>
        {% endif %}
    {% endfor %}
    <ul class="list-unstyled">
        {% for book in books if book.old_testament %}
            {{ temp.bookLink(translation, book) }}
        {% endfor %}
    </ul>

    <h4>Újszövetség</h4>
    <ul class="list-unstyled">
        {% for book in books if not book.old_testament %}
            {{ temp.bookLink(translation, book) }}
        {% endfor %}
    </ul>

{% endblock %}