{% extends 'layout' %}

{% set pageTitle %}
{{ translation.name }} | Szentírás
{% endset %}

{% macro bookLink(translation, book) %}
    <a href="/{{ translation.abbrev }}/{{ book.abbrev }}" class="link">{{ book.name }}</a>
    <br>
{% endmacro %}

{% import _self as temp %}

{% block content %}
    {% include 'textDisplay.breadcrumb' %}
    {% include 'bookAbbrevList' with { 'translation' : translation } %}
    <p class='kiscim'>Ószövetség</p>
    {% for book in books if book.old_testament %}
        {{ temp.bookLink(translation, book) }}
    {% endfor %}

    <p class='kiscim'>Újszövetség</p>
    {% for book in books if not book.old_testament %}
        {{ temp.bookLink(translation, book) }}
    {% endfor %}

{% endblock %}