{% extends 'layout' %}

{% block meta %}
    <link rel="canonical" href="{{ url('/' ~ canonicalUrl ) }}" />

    <meta property="og:url" content="{{ url('/' ~ canonicalUrl ) }}">
    <meta property="og:title" content="{{ metaTitle }}">
    <meta property="og:description" content="{{ teaser }}">
{% endblock %}

{% block content %}
    <div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel" aria-hidden="true">
        <div class="modal-dialog"><div class="modal-content"></div></div>
    </div>
    <div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
        <div class="modal-dialog"><div class="modal-content"></div></div>
    </div>
    {% for verseContainer in verseContainers %}
        <div>
            {% include 'textDisplay.breadcrumb' with {'book': verseContainer.book, 'bookRef': verseContainer.bookRef } %}
        </div>
        <div class="parsedVerses">
            <p>
             {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' : translation} %}
            </p>
            <p>
                {% include 'textDisplay.translationButtons' with { 'translations' : translations, 'translation': translation, 'translationLinks' : translationLinks } %}
            </p>
            <p>
                {% if chapterLinks.prevLink %}
                    <a href="/{{ chapterLinks.prevLink }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Előző {{ verseContainer.book.number != 121 ? "fejezet" : "zsoltár"}}</a>
                {% endif %}
                {% if chapterLinks.nextLink %}
                    <a href="/{{ chapterLinks.nextLink }}" class="btn btn-default">Következő {{ verseContainer.book.number != 121 ? "fejezet" : "zsoltár"}} <span class="glyphicon glyphicon-chevron-right"></span></a>
                {% endif %}
        </div>
        <hr>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-default btn-sm active" id="toggleNumv">
                    <span class="toggle glyphicon glyphicon-check active"></span>
                    <span class="toggle glyphicon glyphicon-unchecked inactive"></span>
                    Versszámozás</a>
                <a href="javascript:void(0)" class="btn btn-default btn-sm active" id="toggleXrefs">
                    <span class="toggle glyphicon glyphicon-check active"></span>
                    <span class="toggle glyphicon glyphicon-unchecked inactive"></span>
                    Hivatkozások</a>
            </div>
        </div>
    </div>
    {% include 'textDisplay.share' with { 'canonicalUrl' : canonicalUrl, 'teaser' : teaser } %}

{% endblock %}