{% macro toggleButton(id, label, active) %}
<label class="btn btn-default {{ active ? 'active' }}" style="text-align: left;">
    <input type="checkbox" id="{{ id }}" {{ active ? 'checked' }}> {{ label }}
</label>
{% endmacro %}
{% import _self as macros %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Bezár</span></button>
    <h4 class="modal-title" id="pdfModalLabel">PDF-készítés</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-8">
            <div id="previewContainer" data-ref="{{ refString }}" data-translation="{{ translationId }}" style="overflow:hidden"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="btn-group-vertical" data-toggle="buttons" id="pdfToggles">
                    {{ macros.toggleButton('pdfHeadings', 'Címsorok', true) }}
                    {# {{ macros.toggleButton('pdfRefs', 'Hivatkozások', false) }} #}
                    {{ macros.toggleButton('pdfNums', 'Versszámozás', false) }}
                </div>
            </div>
            <div class="row">
                <hr width="100px" />
                <p></p>
                <p><a href="javascript:void(0)" id="pdfDownload"><span class="glyphicon glyphicon-download"></span> Letöltés</a></p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Bezárás</button>
</div>
