{% extends "layout" %}

{% block pageHeader %}
    <div class="page-header">
        <h1>Szentírás.hu <small>Katolikus bibliafordítások az interneten</small></h1>
    </div>
{%  endblock %}

{% block content %}
    {% for row in cathBibles %}
        <h4><a href='/{{ row.abbrev }}'>{{ row.name }} ({{ row.denom }})</a></h4>
        <p>{{ row.copyright|raw }}</p>
    {% endfor %}

<br />

{% include 'lectures' with { 'lectures': lectures } %}

<h3><a href='/forditasok'>További fordítások</a></h3>
    {% for row in otherBibles %}
        <h4><a href='/{{ row.abbrev }}'>{{ row.name }} ({{ row.denom }})</a></h4>
    {% endfor %}
{% endblock %}

{% block abbrevlist %}
    {% include 'bookAbbrevList' %}
{% endblock %}