{% extends "layout" %}

{% block extraHead %}
    <script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "{{ url('/') }}",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "{{ url('/kereses/search?textToSearch={search_term_string}')}}",
     "query-input": "required name=search_term_string"
   }
}
</script>
{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1>Szentírás.hu <small><span class="hidden-xs hidden-sm">Bibliafordítások az interneten</span></small></h1>
    </div>
{%  endblock %}

{% block content %}
    {% for row in cathBibles %}
        <h4><a href='/{{ row.abbrev }}'>{{ row.name }} ({{ row.denom }})</a></h4>
        <p class="hidden-xs">{{ row.copyright|raw }}</p>
    {% endfor %}

<br />

{% include 'lectures' with { 'lectures': lectures } %}

<h3><a href='/forditasok'>További fordítások</a></h3>
    {% for row in otherBibles %}
        <h4><a href='/{{ row.abbrev }}'>{{ row.name }} ({{ row.denom }})</a></h4>
    {% endfor %}
{% endblock %}

{% block abbrevlist %}
    {% include 'bookAbbrevList' %}
{% endblock %}