{% extends "layout" %}

{% block news %}
  <h4>Hírek</h4>
  {% for n in news %}
    <div class="panel-group" id="newsAccordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#newsAccordion" href="#news{{ loop.index }}">{{ n.title }}</a>
                </h4>
            </div>
            <div id="news{{ loop.index }}" class="panel-collapse collapse">
                <div class="panel-body">{{ n.text|raw }}</div>
            </div>
        </div>
    </div>
  {% endfor %}
{% endblock %}

{% block content %}
    {% for row in cathBibles %}
        <h4><a href='/{{ row.abbrev }}'>{{ row.name }} ({{ row.denom }})</a></h4>
        <p>{{ row.copyright|raw }}</p>
    {% endfor %}

<br />

{% include 'lectures' with { 'lectures': lectures } %}

<h3><a href='/forditasok'>További fordítások</a></h3>
    {% for row in otherBibles %}
        <h4><a href='/{{ row.abbrev }}'>{{ row.name }} ({{ row.denom }})</a></h4>
    {% endfor %}
{% endblock %}

{% block abbrevlist %}
    {% include 'bookAbbrevList' %}
{% endblock %}