{% extends 'layout' %}

{% set pageTitle %}
Keresés{% if form.textToSearch is defined %}: {{ form.textToSearch }}{% endif %} | Szentírás
{% endset %}

{% block content %}
<h2>Keresés a Bibliában</h2>
    <form role="form" method="post" action="{{ action('SzentirasHu\\Controllers\\Search\\SearchController@postSearch') }}">
        <div class="form-group">
            <label for="textToSearch">Keresendő</label>
            <input type="text" name="textToSearch" value="{{ form.textToSearch }}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="translation">Fordítás</label>
            <select name="translation" class="form-control">
                <option value="0" {{ 0 == form.translation ? 'selected' }}>Mind</option>
                {% for translation in translations %}
                    <option value="{{ translation.id }}" {{ translation.id == form.translation ? 'selected' }}>{{ translation.name }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Keresés" class="btn btn-default"/>
    </form>
{% endblock %}