{% extends 'layout' %}

{% set pageTitle %}
{{ book.name }} | {{ translation.name }} | Szentírás
{% endset %}

{% block content %}

    {% include 'textDisplay.breadcrumb' %}

    <div class="translationButtons">
        {% include 'textDisplay.translationButtons' with { 'translations': translations, 'translation': translation, 'link': book.abbrev } %}
    </div>
   
    {% for chapterId, chapter in chapters %}
        {%set chapterLink %}/{{ translation.abbrev  }}/{{ book.abbrev }}{{ chapterId }}{% endset %}
        {%set chapterText %}{{ chapterId }}. {{ book.number != 121 ? "fejezet" : "zsoltár"}}{% endset %}
        <h4><a href="{{ chapterLink }}">{{ chapterText }}</a></h4>

        {% set headings = chapter.headings %}
        {% if headings|length > 0 %}
            <h4><small>
        {% for heading in headings %}
             {{ heading.text|striptags('<br><a>')|raw  }} <a href='/{{ translation.abbrev }}/{{ book.abbrev }}{{ chapterId}}#heading_{{ heading.gepi }}_{{ heading.level }}' class='link'>&raquo;</a><br/>
        {% endfor %}        
        </small></h4>
        {% endif %}        
        
        {% set leadVerses = chapter.leadVerses %} 
        <a href={{ chapterLink }} class='leadChapterLink'>
        {% for numv, verse in leadVerses %}
            <sup>{{ numv }}</sup>{{ verse|raw }}
        {% endfor %}
        </a>
        <a href='/{{ translation.abbrev }}/{{ book.abbrev }}{{ chapterId}}' class='link'>&raquo;</a><br>
        <br />
    {% endfor %}

    {% include 'bookAbbrevList' %}

{% endblock %}