{% extends 'layout' %}

{% set pageTitle %}
{{ book.name }} | {{ translation.name }} | Szentírás
{% endset %}

{% block content %}

    {% include 'textDisplay.breadcrumb' %}

    <p>
        {% include 'textDisplay.translationButtons' with { 'translations': translations, 'translation': translation, 'link': book.abbrev } %}
    </p>


    {% for chapter, verses in groupedVerses %}
        <h4><a href="/{{ translation.abbrev  }}/{{ book.abbrev }}{{ chapter }}">{{ chapter }}. {{ book.number != 121 ? "fejezet" : "zsoltár"}}</a></h4>

        {% for num in '1'..'2' %}
            <sup>{{ verses[num].numv }}</sup>{{ verses[num]|raw }}
        {% endfor %}
        <a href='/{{ translation.abbrev }}/{{ book.abbrev }}{{ chapter}}' class='link'>&gt;&gt;</a><br>
        <br />
    {% endfor %}

    {% include 'bookAbbrevList' %}

{% endblock %}