<ol class="breadcrumb">
    {% if translation is defined %}
        <li><a href="/{{ translation.abbrev }}">{{ translation.name }}</a></li>
        {% if book is defined %}
            <li><a href="/{{ translation.abbrev }}/{{ book.abbrev }}">{{ book.name }}</a></li>
        {% endif %}
        {% if bookRef is defined %}
            {% if bookRef.chapterRanges|length == 1 and bookRef.chapterRanges[0].untilChapterRef is empty %}
                {% set chapter = bookRef.chapterRanges[0].chapterRef.chapterId %}
                <li><a href="/{{ translation.abbrev }}/{{ book.abbrev }}{{ chapter }}">{{ chapter }}. {{ book.number != 121 ? "fejezet" : "zsoltár"}}</a></li>
            {% else %}
                <li class="active">{{ bookRef.toString() }}</a></li>
            {% endif %}
        {% endif %}
    {% endif %}
</ol>