<nav aria-label="breadcrumb">
<ol class="breadcrumb breadcrumb-chevron">
    {% if translation is defined %}
        
        {% if book is not defined %}
            <li class="breadcrumb-item active">{{ translation.name }}</li>            
        {%  else %}
            <li class="breadcrumb-item"><a href="/{{ translation.abbrev }}">{{ translation.name }}</a></li>
            {% if bookRef is defined %}    
            <li class="breadcrumb-item"><a href="/{{ translation.abbrev }}/{{ book.abbrev }}">{{ book.name }}</a></li>
            {% set chapter = bookRef.chapterRanges[0].chapterRef.chapterId %}
            <li class="breadcrumb-item"><a href="/{{ translation.abbrev }}/{{ book.abbrev }}{{ chapter }}">{{ chapter }}. {{ book.number != 121 ? "fejezet" : "zsoltár"}}</a></li>
            <li class="breadcrumb-item active">{{ bookRef.toString() }}</a></li>            
            {% else %}
                <li class="breadcrumb-item active">{{ book.name }}</li>
            {% endif %}
        {% endif %}
            {% endif %}
</ol>
</nav>