{% for verse in verseContainer.parsedVerses %}
    {% for headingLevel in 0..4 %}
    {% if verse.headings[headingLevel] is defined %}
        {% set tag = 'h' ~ (headingLevel+1) %}
        <{{ tag }}>
        <small>{{ verse.headings[headingLevel] }}</small>
        </{{ tag }}>
    {% endif %}
    {% endfor %}
    {% if verse.numv == 1 %}
        <span class="text-muted numchapter">{{ verse.chapter }}</span>
    {% endif %}
    <span class="text-muted numv"><sup>{{ verse.numv }}</sup></span>{{ verse.text|raw }}
    {% if verse.xrefs is not empty %}
        <span class="xref">
            <sup>
                ({%- for xref in verse.xrefs -%}
                <a href="/{{ translation.abbrev }}/{{ xref.text }}">{{ xref.text }}{% if not loop.last %};{% endif %}</a>
                {%- endfor -%})
            </sup>
        </span>
    {% endif %}
    {% if verseContainer.book.number == 121 %}<br>{% endif %}
{% endfor %}
