{% extends 'layout' %}

{% block meta %}
    <link rel="canonical" href="{{ url('/' ~ seoUrl ) }}" />
    {% if seoUrl != canonicalUrl %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}

    <meta property="og:url" content="{{ url('/' ~ canonicalUrl ) }}">
    <meta property="og:title" content="{{ metaTitle }}">
    <meta property="og:description" content="{{ teaser }}">
	<meta property="og:image" content="{{ url('/pdf/preview/' ~ translation.id ~ '/' ~ canonicalRef ~ '?headings=true&nums=false&refs=&quantity=1') }}">
{% endblock %}

{% block content %}
    <div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel">
        <div class="modal-dialog"><div class="modal-content"></div></div>
    </div>
    <div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel">
        <div class="modal-dialog"><div class="modal-content"></div></div>
    </div>
    {% if readingPlanDay %}
    <div>
        <h1><a href="/tervek/{{ readingPlanDay.plan_id }}">{{ readingPlan.name }}</a> - {{ readingPlanDay.day_number }}. nap</h1>
        <h4>{{ readingPlanDay.description|raw }}, {{ readingPlanDay.verses|replace({';': ', '}) }}</h4>
        <br>
    </div>
            {# <div class="col-12">
                <p class="lead mb-2">
                    <strong>{{ readingPlanDay.day_number }}. nap</strong> - 
                    <span class="text-muted">{{ readingPlanDay.description|raw }}</span>
                </p>
                <p class="small text-secondary">
                    {{ readingPlanDay.verses|replace({';': ', '}) }}
                </p>
            </div> #}
    {% endif %}
    <div class="translationButtons">
        {% include 'textDisplay.translationButtons' with { 'translations': translations, 'translation': translation, 'link': book.abbrev } %}
    </div>

    {% include 'textDisplay.verseContainers' with  { 'verseContainers' : verseContainers } %}
    {% include 'textDisplay.share' with { 'canonicalUrl' : canonicalUrl, 'teaser' : teaser } %}
{% endblock %}

{% block extramenu %}
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-wrap">
                        <a href="javascript:void(0)" role="button" class="btn btn-default btn-outline-primary btn-sm active m-1 flex-fill" id="toggleNumv">
                            <i class="toggle fa-regular fa-square-check active"></i>
                            <i class="toggle fa-regular fa-square inactive"></i>
                            Versszámozás</a>
                        <a href="javascript:void(0)" role="button" class="btn btn-default btn-outline-primary btn-sm active m-1 flex-fill" id="toggleXrefs">
                            <i class="toggle fa-regular fa-square-check active"></i>
                            <i class="toggle fa-regular fa-square inactive"></i>
                            Hivatkozások</a>
                        <a href="javascript:void(0)" role="button"  class="btn btn-default btn-outline-primary btn-sm active m-1 flex-fill" id="toggleHeadings">
                            <i class="toggle fa-regular fa-square-check active"></i>
                            <i class="toggle fa-regular fa-square inactive"></i>
                            Címsorok</a>
                        <a href="javascript:void(0)" role="button" class="btn btn-default btn-outline-primary btn-sm inactive m-1 flex-fill" id="toggleAiTools">
                            <i class="toggle fa-regular fa-square-check active"></i>
                            <i class="toggle fa-regular fa-square inactive"></i>
                            AI eszközök</a>                    
            </div>
        </div>
    </div>
{% endblock %}    